@{
    ViewData["Title"] = "Index";
}

<div class="contenedor">
    <div class="Bienvenida">
        <p>Bienvenidos al sitio web de OrtWorld</p>
        <a href='@Url.Action("SelectPaquete")' class="link">Crear Paquete</a>
    </div>
    @foreach (KeyValuePair<string, Paquete> items in ViewBag.Diccionario)
    {
        <div class="paquete">
            <h3>@items.Key</h3>
            <ul>
                <li>@items.Value.Hotel</li>
                <li>@items.Value.Aereo</li>
                <li>@items.Value.Excursion</li>
            </ul>
        </div>
    }
</div>
