@{
    ViewData["Title"] = "Index";
}

<div class="contenedor">
    <div class="Bienvenida">
        <p>Bienvenidos al sitio web de OrtWorld</p>
        <a href='@Url.Action("SelectPaquete")' class="link">Crear Paquete</a>
    </div>

    
    @if(ViewBag.Paquete != null){
        @foreach (string items in ViewBag.Paquete)
        {
            <div class="paquete">
                <h3>@items</h3>
                <ul>
                    <li>@Paquete[items].Hotel</li>
                    <li>@Paquete[items].Aereo</li>
                    <li>@Paquete[items].Excursion</li>
                </ul>
            </div>
        }
    }
</div>
